<container class="text-center">
  <h1><%= title %></h1>
    
  <table class="table">
    <thead>
      <tr>
        <th>Player Name</th>
        <th>Rating</th>
        <th>Wins</th>
        <th>Win Ratio</th>
        <th>Last Match</th>
      </tr>
    </thead>
    <tbody>
      <%  users.each do |user| %>
        <% if user.wins + user.losses == 0 %>
          <% ratio = 0 %>
        <% else %>
          <% ratio = user.wins / (user.wins + user.losses) %>
        <% end %>
      <tr>
        <td><%= link_to user.name,user_path(user) %></td>
        <td><%= user.rating %></td>
        <td><%= user.wins %></td>
        <td><%= ratio%> %</td>
        <td><%= user.updated_at.strftime('%Y-%m-%d %T') %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</container>