<container class="text-center">
  <section>
    <h1><%= @user.name %>'s Profile</h1>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Player Name</th>
          <th>Rating</th>
          <th>Wins</th>
          <th>Win Ratio</th>
          <th>Last Match</th>
        </tr>
      </thead>
      <tbody>
        <% if @user.wins + @user.losses == 0 %>
          <% ratio = 0 %>
        <% else %>
          <% ratio = @user.wins / (@user.wins + @user.losses) %>
        <% end %>
        <tr>
          <td><%= link_to @user.name,user_path(@user) %></td>
          <td><%= @user.rating %></td>
          <td><%= @user.wins %></td>
          <td><%= ratio%> %</td>
          <td><%= @user.updated_at.strftime('%Y-%m-%d %T') %></td>
        </tr>
      </tbody>
    </table>
  </section>
  <section>
    <h1>Last 5 Matches</h1>
    
  </section>
</container>