<container class="text-center">
  <h1 class="m-3">Edit Page</h1>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Winner</th>
        <th>Rating</th>
        <th> </th>
        <th>Rating</th>
        <th>Loser</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @game.winner.name %></td>
        <td><%= @game.winner.rating %></td>
        <td>vs</td>
        <td><%= @game.loser.rating %></td>
        <td><%= @game.loser.name %></td>
      </tr>
    </tbody>
  </table>
  <%= form_with(model: @game, local: true) do |f| %>
    <div class="form-group">
      <%= f.label :description, 'comment' %>
      <%= f.text_area :description, class: 'form-control', rows: 15 %>
    </div>
    <%= f.submit 'Post', data: { confirm: "入力データを送信して良いですか？" }, class: 'btn btn-primary btn-block' %>
  <% end %>
</container>