<container class="text-center">
  <h1 class="m-5">Matching List</h1>
    
  <table class="table">
    <thead>
      <tr>
        <th>id</th>
        <th>Winner</th>
        <th>Rating</th>
        <th> </th>
        <th>Rating</th>
        <th>Loser</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <% @games.each do |game| %>
      <tr>
        <td class="align-middle"><%= link_to game.id, game_path(game) %></td>
        <td class="align-middle">
          <% game.winners.each do |winner| %>
            <%= link_to winner.user.name, winner.user %><br>
          <% end %>
        </td>
        <td class="align-middle">
          <% game.winners.each do |winner| %>
            <%= format("%.2f", winner.user_rate) %><br>
          <% end %>
        </td>
        <td class="align-middle">vs</td>
        <td class="align-middle">
          <% game.losers.each do |loser| %>
            <%= format("%.2f", loser.user_rate) %><br>
          <% end %>
        </td>
        <td class="align-middle">
          <% game.losers.each do |loser| %>
            <%= link_to loser.user.name, loser.user %><br>
          <% end %>
        </td>
        <td><%= game.created_at.strftime('%Y-%m-%d %T') %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @games %>
</container>