<container class="text-center">
  <h1 class="m-5">Matching List</h1>
    
  <table class="table">
    <thead>
      <tr>
        <th>id</th>
        <th>Winner</th>
        <th>Rating</th>
        <th> </th>
        <th>Rating</th>
        <th>Loser</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <% @games.each do |game| %>
      <tr>
        <td><%= link_to game.id, game_path(game) %></td>
        <td><%= link_to game.winner.name, game.winner %></td>
        <td><%= format("%.2f", game.winner.rating) %></td>
        <td>vs</td>
        <td><%= format("%.2f", game.loser.rating) %></td>
        <td><%= link_to game.loser.name, game.loser %></td>
        <td><%= game.created_at.strftime('%Y-%m-%d %T') %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @games %>
</container>