<container class="text-center">
  <section>
    <h1 class="m-3">Detail</h1>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Winner</th>
          <th>Rating</th>
          <th> </th>
          <th>rating</th>
          <th>Loser</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="align-middle">
            <% @game.winners.each do |winner| %>
              <%= link_to winner.user.name, winner.user %><br>
            <% end %>
          </td>
          <td class="align-middle">
            <% @game.winners.each do |winner| %>
              <%= format("%.2f", winner.user_rate) %><br>
            <% end %>
          </td>
          <td class="align-middle">vs</td>
          <td class="align-middle">
            <% @game.losers.each do |loser| %>
              <%= format("%.2f", loser.user_rate) %><br>
            <% end %>
          </td>
          <td class="align-middle">
            <% @game.losers.each do |loser| %>
              <%= link_to loser.user.name, loser.user %><br>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
    <section>
      <h3>内容</h3>
      <div class="text-left border">
        <%= @game.description %>
      </div>
      <% if logged_in? && !!current_user.games.find_by(id: @game.id) %>
        <%= link_to '編集', edit_game_path(@game), class: 'btn btn-success mt-3' %>
      <% end %>
      <%= link_to "戻る", :back , class: 'btn btn-primary mt-3' %>
    </section>
    <section class="mt-4">
      <h3>コメント一覧</h3>
      <ul class="list-unstyled text-left">
        <% @comments.each do |comment| %>
          <li class="border-top"><%= link_to comment.user.name, comment.user %></li>
          <li><%= link_to 'DEL',game_comment_path(@game,comment),method: :delete,data: { confirm: '本当に削除してよろしいですか？' },class: 'btn btn-danger btn-sm mr-2' if current_user == comment.user %><%= comment.content %></li>
        <% end %>
      </ul>
      <% if logged_in? %>
        <h3>コメント投稿</h3>
        <%= form_with(model:[@game,@comment], local: true) do |f| %>
          <div class="form-group">
            <%= f.label :content, 'comment' %>
            <%= f.text_area :content, class: 'form-control', rows: 3 %>
          </div>
          <%= f.submit 'コメント送信', data: { confirm: "入力データを送信して良いですか？" }, class: 'btn btn-primary btn-block' %>
        <% end %>
      <% else %>
        <div class="col offset-3 col-6 alert alert-warning" role="alert">
          コメントは<%= link_to "ログイン", login_path, class: 'btn btn-primary' %>時のみ行えます。
        </div>
      <% end %>
    </section>
  </section>
</container>